body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
}

footer {
    background-color: #2980b9;
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

#sitemap {
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
}

#sitemap > div {
    margin-bottom: 20px;
}

#sitemap h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ecf0f1;
}

#sitemap ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#sitemap li {
    margin-bottom: 10px;
}

#sitemap a {
    color: #ecf0f1;
    text-decoration: none;
    border-bottom: 1px solid #3498db;
    padding: 2px;
    transition: border-bottom 0.3s;
}

#sitemap a:hover {
    border-bottom: 1px solid #ecf0f1;
}

#courses {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 80px; 
}

#courses h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#courses table {
    width: 100%;
    border-collapse: collapse;
}

#courses th, #courses td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#courses th {
    background-color: #2c3e50;
    color: white;
}

#form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px; 
}

#form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#form-container input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #2c3e50;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

#form-container input[type="submit"]:hover {
    background-color: #34495e;
}

#form-container .error {
    color: #e74c3c;
    margin-bottom: 20px;
    margin-top: -10px;
    display: block;
}


#course-details {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 80px; /* Adjusted space for footer */
}

#course-details h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#course-details table {
    width: 100%;
    border-collapse: collapse;
}

#course-details th, #course-details td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#course-details th {
    background-color: #2c3e50;
    color: white;
}

@media (max-width: 768px) {
    #sitemap ul {
        flex-direction: column;
    }
    footer {
        padding: 10px;
    }
}